{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}

{% block content %}
<main id="index-main">
    
    <h1> Calendar </h1>
	<div id="left">

    </div>

<div id="right">
		<h1>Upcoming matches</h1>
		<br>

		{% for match in matches %}
		<div class="pannel">
				<a href="/match/{{match.id}}">
					{{ pannels.match_header(match, date) }}
					<main>
						<a href="/match/{{match.id}}">
						<div class="matchup">
							<div class="c40">
							{{ pannels.match_content(match.team1) }}
							</div>
							<div class="c20">
							VS
							</div>
							<div class="c40">
							{{ pannels.match_content(match.team2) }}
							</div>
						</div> 
					</main>
				</div>
			</a>
			<br>
		{% endfor %}
	</div>


</main>
{% endblock %}
