{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}

{% block content %}
<main class="container">
	<div class="col-sm-6 col-xs-12">
		<h2>Recent Result</h2>
		<br>
		{% for match in matches %}
			{% if not match.winner == null %}
				{{ pannels.match(match, date) }} <br>
			{% endif %}
		{% endfor %}
	</div>

	<div class="col-sm-6 col-xs-12">
		<h2>Upcoming matches</h2>
		<br>

		{% for match in matches %}
			{{ pannels.match(match, date) }} <br>
		{% endfor %}
	</div>
</main>
{% endblock %}
