{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}

{% block content %}
<main class="container">
	<div class="col-sm-6 col-xs-12">
		<h2>Recent Result</h2>
		<br>
		{% for match in matches %}

		{% if not match.winner == null %}
		<div class="pannel">
			<a href="/match/{{match.id}}">
				{{ pannels.match_header(match, date) }}
				<main>
					<a href="/match/{{match.id}}">
						<div class="matchup">
							<div class="c40">
								{{ pannels.match_content(match.team1) }}
							</div>
							<div class="c20">
								{{match.format}}
								<br> {{match.winner}} won
							</div>
							<div class="c40">
								{{ pannels.match_content(match.team2) }}
							</div>
						</div>
				</main>
		</div>
		</a>
		<br>
		{% endif %}
		{% endfor %}
	</div>

	<div class="col-sm-6 col-xs-12">
		<h2>Upcoming matches</h2>
		<br>

		{% for match in matches %}
		<div class="pannel">
			{{ pannels.match_header(match, date) }}
			<main>
				<a href="/match/{{match.id}}">
					<div class="matchup">
						<div class="c40">
							{{ pannels.match_content(match.team1) }}
						</div>
						<div class="c20">
							{{match.format}}
						</div>
						<div class="c40">
							{{ pannels.match_content(match.team2) }}
						</div>
					</div>
			</main>
		</div>
		</a>
		<br>
		{% endfor %}
	</div>
</main>
{% endblock %}