{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">
{% endblock %}

{% block content %}
<main class="container">
	<div class="col-sm-6 col-xs-12">

		<h1>Leaderboards</h1>
		<br>

		<div id="users">
			<div class="pannel">
				<header class="title">Users</header>
				<main>
					{% for user in users %}
					<a href="/user/{{user.name}}">
						<div class="matchup">
							<div class="c30">
								N°{{user.rank}}
							</div>
							<div class="c40">
								{{user.name}}
							</div>
							<div class="c30">
								{{user.points}} pt
							</div>
						</div>
					</a>
					<br>
					{% endfor %}
					<br>
				</main>
			</div>
		</div>
		<br>
		<div id="teams">
			<div class="pannel">
				<header class="title">Teams</header>
				<main>
					{% for team in teams %}
					<div class="matchup">
						<div class="c20">
							N°{{team.rank}}
						</div>
						<div class="c60">
							{{team.name}}
						</div>
						<div class="c20">
							{{pannels.team_icon(team)}}
						</div>
					</div>
					{% endfor %}
					<br>
				</main>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<h1>Upcoming matches</h1>
		<br>

		{% for match in matches %}
			{{ pannels.match(match, date) }} <br>
		{% endfor %}
	</div>

</main>
{% endblock %}
