{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/match.css">
{% endblock %}

{% block content %}
<h1>Upcoming matches</h1>
<br>

{% for match in matches %}
<div class="match">
	<header>
		<span>{{ "Live" if match.live else "Soon" }}</span>


		<span>@
			{% filter replace("Invalid Date", "En cours") %}
				{{date( match.date) }}
			{% endfilter %}
		</span>

		<span>Match #{{match.id}}</span>

	</header>

	<div class="match-List">
		<a href="match/{{match.id}}">
			<div class="match-header">

			</div>
			<div class="match-container">
				<div class="match-teams">
					<div class="match-teams-logo">
						<img src="https://static.hltv.org/images/team/logo/{{match.team1.id}}" alt="HAVU">
						{{match.team1.name}}
					</div>
					<div class="match-type">
							VS
						</div>
						<div class="match-teams-logo">
							<img src="https://static.hltv.org/images/team/logo/{{match.team2.id}}" alt="HAVU">
							{{match.team2.name}}
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
		</a>
	</div>
</div>
{% endfor %}
{% endblock %}
