{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}

{% block content %}
<main id="index-main">
	<div align="center" id="left">
		<h1>Leaderboards</h1>
		<br>

		<div id="users">
			<div class="pannel">
				<header class="title"> Users </header>
				<main></main>
			</div>
		</div>
		<br>
		<div id="teams">
			<div class="pannel">
				<header class="title"> Teams </header>
				<main></main>
			</div>
		</div>
	</div>
	<div align="center" id="right">
		<h1>Upcoming matches</h1>
		<br>

		{% for match in matches %}
			{{ pannels.match(match, date) }}
			<br>
		{% endfor %}
	</div>
</main>
{% endblock %}
