<!DOCTYPE html>
<html>
	<head>
		<title>Login - CounterBet</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/login.css">
		<script type="text/javascript" src="/js/login.js"></script>
	</head>

	<body>
		<div class="container">
			<div id="login-card">
				<a>
					<img width="50px" src="/img/logo.png" alt="">
				</a>
				<form method="post" name="inscription">
					<div class="login-form">
						<h6>Email</h6>
						<input name="mail" type="email" placeholder="Enter email address">
					</div>
					<div class="login-form">
						<h6>Password</h6>
						<input name="password" type="password" placeholder="Enter password">
					</div>
					<div class="login-button-container">
						<input type="submit" value="Submit" />
					</div>
				</form>
			</div>

		</div>
	</body>
</html>
