<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
    <title>Login </title>
</head>
<body>
<h1> Sign in to Counter Bet</h1>

<form method="post" name="inscription">
    <label>Your Username:</label>
    <input type="text" autocomplete="on" name="Username" placeholder="Username" /><br/>
    <label>Your Password:</label>
    <input type="password" name="mdp" placeholder="Password" /><br/>
    <label>Confirm :</label>
    <input type="password" name="confirm"  placeholder="Confirm" /><br/>
    <label>Your email address:</label>
    <input type="text" autocomplete="on" name="mail" placeholder="email" maxlength="64" /><br />
</form>
<div></div>

</body>
</html>