{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/match.css">
{% endblock %}

{% block content %}
<h1>{{match.title}}</h1>
<p>{{match.team1.name}} VS {{match.team2.name}}</p>
<p>{{date(match.date)}}</p>
<a href="../tournament/{{match.tournament.id}}">Tournament: {{match.tournament.name}}</a>
<br>


{% if streamURL %}
	<iframe
		src={{streamURL}}
		height="340px"
		width="570px"
		frameborder="0"
		scrolling="no"
		allowfullscreen="true">
	</iframe>
{% endif %}

<p style="white-space:pre-wrap;"> {{ match | dump('\t') }} </p>
<p style="white-space:pre-wrap;"> {{ streamURL | dump('\t') }} </p>

{% endblock %}
