{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/match.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}

{% block script %}
<script type="text/javascript" src="/js/match.js"></script>
{% endblock %}

{% block content %}
<br>
<main id="index-main">
	<div id="left">
		<div class="pannel">
			{{ pannels.match_header(match, date) }}
			<main>
				<div class="matchup">
					<a href="/team/{{match.team1.id}}" class="c40">
						{{ pannels.match_content(match.team1) }}
					</a>
					<div class="c20">
						{{match.format}}
					</div>
					<a href="/team/{{match.team2.id}}" class="c40">
						{{ pannels.match_content(match.team2) }}
					</a>
				</div>
			</main>
		</div>

		<br>

		{% if match.bet == null %}
		<div class="pannel" id="bet">
			<header class="title"> Pick a winner </header>
			<main>
				<div id="bet-team">
					{% macro bet_team(i, name) %}
					<button onclick="bet_for({{i}}, '{{name}}')">{{name}}</button>
					{% endmacro %}
					{{bet_team(0, match.team1.name)}}
					{{bet_team(1, match.team2.name)}}

				</div>
				<div id="bet-amount">
					<a>How much do you bet ?</a>
					<input type="number" id="num">
				</div>
				<div id="bet-error">
					<a>You must select a team !</a>
				</div>
			</main>
		</div>

		{% if match.winner == null and not match.live %}
		<button onclick="bet({{match.id}})">Make a bet !</button>
		<br>
		<br>
		{% endif %}
		{% else %}
		<div class="pannel">
			<header class="title"> Your Bet </header>
			<main>
				{{date(match.bet.date)}} You bet for '{{match.bet.team}}'
				num: {{match.bet.num}}
			</main>
		</div>
		<button onclick="cancel_bet({{match.bet.id}})">Cancel bet</button>
		<br>
		<br>
		{% endif %}

		<div class="pannel">
			<header class="title"> History </header>
			{% if match.history and match.history.length %}
			{% for prev_match in match.history %}
			<div class="prev_match">
				<i>{{date(prev_match.date)}}</i>
				-
				<strong>{{prev_match.team1.name}}</strong>
				VS
				<strong>{{prev_match.team2.name}}</strong>
				{{prev_match.score[0]}} - {{prev_match.score[1]}}
			</div>
			{% endfor %}
			{% else %}
			<span>These teams did not play against each other recently.</span>
			{% endif %}
		</div>

		{% macro prev_matches(team, other) %}
		{% if team.history and team.history.length %}
		<br>
		<div class="pannel">
			<header class="title"> Previous matches - {{team.name}} </header>
			{% for prev_match in team.history %}
			<div class="prev_match">
				<i>{{date(prev_match.date)}}</i>
				-
				Against <strong>{{prev_match.team2.name}}</strong>
				{{prev_match.score[0]}} - {{prev_match.score[1]}}
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% endmacro %}

		{{ prev_matches(match.team1) }}
		{{ prev_matches(match.team2) }}

		<!--
		<a href="/tournament/{{match.tournament.id}}">Tournament: {{match.tournament.name}}</a>
		<p style="white-space:pre-wrap;"> {{ match | dump('\t') }} </p>
		-->
	</div>



	<div id="right">
		{% if match.streamURL and match.live %}
		<iframe src="{{match.streamURL}}" height="340px" width="100%" frameborder="0" scrolling="no" allowfullscreen="true">
		</iframe>
		<br>
		<br>
		{% endif %}

		<div class="pannel">
			<header class="title"> Line-ups </header>
			<div id="lineups">
				{% macro lineup(team) %}
				<div>
					{% for player in team.players %}
					<div class="player"> {{player.name}} </div>
					{% endfor %}
				</div>
				{% endmacro %}

				{{ lineup(match.team1) }}
				{{ lineup(match.team2) }}
			</div>
		</div>
	</div>
</main>
{% endblock %}

