<!DOCTYPE html>
<html>
	<head>
		<title>Login - CounterBet</title>
        <meta charset="utf-8" />
        <script type="text/javascript" src="/js/login.js"></script>
	</head>

    <body>
    <h1> Sign in to Counter Bet</h1>




    <form  method="post" action="/register" name="inscription" >
        <label>Your Username:</label>
        <input type="text" autocomplete="on" name="username" placeholder="username" required /><br/>
        <label>Your Password:</label>
        <input type="password" name="mdp" placeholder="Password" required/><br/>
        <label>Confirm :</label>
        <input type="password" name="confirm"  placeholder="Confirm" required/><br/>
        <label>Your email address:</label>
        <input type="email" autocomplete="on" name="mail" placeholder="email" maxlength="64" required /><br />
        <input type="submit" value="Submit" onclick="validate()"/>
    </form>
    <div></div>





    </body>
</html>