{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/match.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}

{% block content %}
<main class="container">
	<div class="col-sm-6 col-xs-12">
		<h1>Previous matches</h1>
		<br>

		{% for match in results.before %}

		<div class="pannel">
			{{ pannels.match_header(match, date) }}
			<a href="/match/{{match.id}}">
				<main>
					<div class="matchup">
						<div class="c40">
							{{ pannels.match_content(match.team1) }}
						</div>
						<div class="c20">
							{{match.format}}
						</div>
						<div class="c40">
							{{ pannels.match_content(match.team2) }}
						</div>
					</div>
				</main>
			</a>
		</div>
		<br>
		{% endfor %}
	</div>

	<div class="col-sm-6 col-xs-12">
		<h1>Upcoming matches</h1>
		<br>

		{% for match in results.after %}

		<div class="pannel">
			{{ pannels.match_header(match, date) }}
			<a href="/match/{{match.id}}">
				<main>
					<div class="matchup">
						<div class="c40">
							{{ pannels.match_content(match.team1) }}
						</div>
						<div class="c20">
							{{match.format}}
						</div>
						<div class="c40">
							{{ pannels.match_content(match.team2) }}
						</div>
					</div>
				</main>
			</a>
		</div>
		<br>
		{% endfor %}
	</div>
</main>
{% endblock %}