{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/match.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}

{% block content %}
<main class="container">
	<div class="col-sm-6 col-xs-12">
		<h1>Previous matches</h1>
		<br>

		{% for match in results.before %}
			{{ pannels.match(match, date) }} <br>
		{% endfor %}
	</div>

	<div class="col-sm-6 col-xs-12">
		<h1>Upcoming matches</h1>
		<br>
		{% for match in results.after %}
			{{ pannels.match(match, date) }} <br>
		{% endfor %}
	</div>
</main>
{% endblock %}
