{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}

{% block content %}

<h1>{{ tournament.name }}</h1>
<h3>From {{ date(tournament.startDate) }} until {{ date(tournament.endDate) }}</h3>

<div style="padding : 2px 10px;">
	{% for team in tournament.teams %}
	<div style="display: inline-block; position: relative;" href="/team/{{team.id}}">
		{{ pannels.match_content(team) }}
	</div>
	{% endfor %}
</div>

<p style="white-space:pre-wrap;"> {{ tournament | dump('\t') }} </p>

{% endblock %}