{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}


{% macro bet_state(bet) %}
<div class="pannel">
	{{ pannels.match_header(bet.match, date) }}
	<a href="/match/{{ bet.match.id }}">
		<main>
			{{ pannels.match_content(bet.match) }}
			<br>
			<div class="matchup">
				<div class="c40">
					You bet <strong>{{bet.num}}pt</strong> on <strong>{{bet.team}}</strong>
				</div>
				{%if bet.gain %}
				<div class="c40">
					gain: 
					{% if bet.gain < 0 %}
						<strong style="color: red">{{bet.gain}}pt</strong>
					{% else %}
						<strong style="color: green">{{bet.gain}}pt</strong>
					{% endif %}
				</div>
				{% endif %}
			</div>
			<br>
		</main>
	</a>
</div>
<br>
{% endmacro %}

{% block content %}
<main>
	<h1 style="text-align: center;">Bets</h1>

	<div class="container">
		<div class="col-sm-6 col-xs-12">
			<h2>Finished</h2>

			{% for bet in user.bets %}
				{%if bet.match.score %}
					{{ bet_state(bet) }}
				{% endif %}
			{% endfor %}
		</div>

		{% if _user.name == user.name %}
		<div class="col-sm-6 col-xs-12">

			<h2>Incoming</h2>
			{% for bet in user.bets %}
				{%if not bet.match.score %}
					{{ bet_state(bet) }}
				{% endif %}
			{% endfor %}

		</div>
		{% endif %}
	</div>

	<br>
	<br>

	{% if _user.name == user.name %}
	<h2 style="text-align: center;">Your personal informations</h2>
	<div class="matchup">
		<div class="c20">
			Name : {{ user.name }}
		</div>
		<div class="c20">
			Email : {{user.email}}
		</div>
		<div class="c20">
			Total points : {{ user.points }}
		</div>
	</div>
	{% endif %}
</main>


{% endblock %}
