{% extends "base.html" %}
{% import "pannels.html" as pannels %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/pannel.css">
{% endblock %}


{% macro bet_state(bet) %}
<div class="pannel">
	{{ pannels.match_header(bet.match, date) }}
	<a href="/match/{{ bet.match.id }}">
		<main>
			<div class="matchup">
				<div class="c40">
					{{ bet.match.team1.name }}
				</div>
				<div class="c20">
					{{ bet.match.format }}
				</div>
				<div class="c40">
					{{ bet.match.team2.name }}
				</div>
			</div>
			<br>
			<div class="matchup">
				<div class="c40">
					Bet {{bet.num}}pt
				</div>
				<div class="c20">
					rating : {{bet.match.cote}}
				</div>
				{%if bet.gain %}
				<div class="c40">
					result: {{bet.gain}}pt
				</div>
				{% endif %}
			</div>
			<br>
		</main>
	</a>
</div>
<br>
{% endmacro %}

{% block content %}
<main>


	{% if _user.name == user.name %}
	<h2 style="text-align: center;">Utilisateur</h2>
	<div class="matchup">
		<div class="c20">
			Name : {{ user.name }}
		</div>
		<div class="c20">
			Email : {{user.email}}
		</div>
		<div class="c20">
			Total points : {{ user.points }}
		</div>
	</div>
	{% endif %}
	<h1 style="text-align: center;">Bets</h1>

	<div id="index-main">
		<div id="left">

			<h2>Finished</h2>
			{% for bet in user.bets %}
			{%if bet.match.score %}
			{{ bet_state(bet) }}
			{% endif %}
			{% endfor %}
		</div>
		{% if _user.name == user.name %}
		<div id="right">

			<h2>Incoming</h2>
			{% for bet in user.bets %}
			{%if not bet.match.score %}
			{{ bet_state(bet) }}
			{% endif %}
			{% endfor %}

		</div>
		{% endif %}
	</div>
</main>

{% endblock %}