html, body
{
	font-family: 'Open Sans', 'Segoe UI';
	font-size: 20px;
	
	margin: 0;
	
	height: 100%;
}

a:link, a:visited
{
	color: inherit;
	text-decoration: none;
}

body > header
{
	color: white;
	font-family: Segoe UI;
	
	background-color: #24292E;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	box-shadow: 0 1px 12px 0 rgba(0,0,0,0.4);
}

#logo
{
	display: flex;
	flex-direction: column;
	font-size: 16px;
	line-height: 35px;
	padding-right: 25px;
}

#logo > a > img
{
	display: block;
	margin: 0 auto;
}

header > #link
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
}
img {
	width: 45px;
}

nav form input
{
	background: none;
	border: 0;
	border-radius: 3px;
	background-color: #404448;
	padding: 8px;
	color: white;
}

.header-link
{
	font-size: 18px;
	margin-left: 16px;
}

.rounded
{
	border: 1px solid #e1e4e8;
	border-radius: 3px;
	padding: 4px;
}

button {
	outline: 0;
	background: rgb(50, 60, 141);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}
button:hover, button:active, button:focus {
	background: rgb(249, 157, 28);
}

.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}


.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix-bottom {
    position: relative;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

#sidebar li li.active {
  	border:0 #ccc solid;
  	border-right-width:3px;
}

#mainCol h2 {
	padding-top: 55px;
    margin-top: -55px;
}

