html, body
{
	font-family: 'Open Sans';
	font-size: 20px;
	
	margin: 0;
	
	height: 100%;
}

a:link, a:visited
{
	color: inherit;
	text-decoration: none;
}

.match-container
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	/* height: 40px; */
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
}
.match-teams
{
	position: relative;
	border: 2px transparent;
	width: calc(100% - 8em);
	height: auto;
	text-align: center;
}
.match-teams-logo
{
	position: relative;
	box-sizing: border-box;
	margin: 0 3px;
    width: 40%;
	height: auto;
	float: left;
}
.match-type
{
	position: relative;
	box-sizing: border-box;
	float: left;
	width: 15%;
}

body > header
{
	height: 6em;
	color: white;
	font-family: Segoe UI;
	
	background-color: #24292E;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	box-shadow: 0 1px 12px 0 rgba(0,0,0,0.4);
}

#logo
{
	display: flex;
	flex-direction: column;
	font-size: 16px;
	line-height: 35px;
	padding-right: 25px;
}

#logo > a > img
{
	display: block;
	margin: 0 auto;
}

header > #link
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
}

header > #left
{
}

header > #right
{
}

img {
	width: 45px;
}

header  #right > input
{
	background: none;
	border: 0;
	border-radius: 3px;
	background-color: #404448;
	padding: 8px;
	color: white;
}

.header-link
{
	font-size: 18px;
	margin-left: 16px;
}

.rounded
{
	border: 1px solid #e1e4e8;
	border-radius: 3px;
	padding: 4px;
}
