#index-main {
	display: flex;
	justify-content: space-evenly;
}

#index-main > div {
	padding: 1em;
}

#left, #right, .right {
	min-width: 500px;
}

.live {
	color: rgb(255, 56, 0);
	font-size: 12px;
	padding: 2px;
	font-weight: bold;
	border: 2px solid rgb(255, 56, 0);
}
