/* BET */

#bet {
	display: none;
}

#bet-team {
	display: flex;
}

#bet-error {
	display: none;
}

#bet-team > button {
	margin: 0 10px 10px 10px;
}

/* HISTORY */
.prev_match {
	width: 100%;
	margin: 10px;
}

.score {
	text-align: center;
}

.pannel > span {
	width: 100%;
	min-height: 60px;

	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-size: 17px;
	color: gray;
}

/* LINEUP */

#lineups {
	display: flex;
}

#lineups > div:first-child {
	border-right: 1px solid #ddd;
}

#lineups > div {
	width: 100%;
}

.player:first-child {
	border-top: 0;
}

.player {
	min-height: 40px;
	border-top: 1px solid #ddd;
	font-weight: 700;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
